@model IEnumerable<Passion_Project.Models.StudioDto>

@{
    ViewBag.Title = "Add Class";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-muted">Add New Class</h2>
        </div>
        <div class="col-auto">
            <a href="/DanceClass/List" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Back To Classs</a>
        </div>
    </div>

    <form action="/DanceClass/Create" method="POST">
        <div class="row">
            <div class="col mb-3">
                <label for="ClassName" class="form-label">Class Name:</label>
                <input type="text" class="form-control" id="ClassName" name="ClassName" required />
            </div>
            <div class="col mb-3">
                <label for="Type" class="form-label">Type:</label>
                <select class="form-select" id="Type" name="Type" required>
                    <option value="Basic">Basic</option>
                    <option value="Advance">Advance</option>
                    <option value="Professional">Professional</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="Type" class="form-label">Schedule:</label>
                <select class="form-select" id="Type" name="Type" required>
                    <option value="2024-07-20T10:00:00" >20 July 2024, 10:00AM - 3:00PM</option>
                    <option value="2024-07-23T10:00:00" >23 July 2024, 10:00AM - 3:00PM</option>
                    <option value="2024-07-25T10:00:00" >25 July 2024, 10:00AM - 3:00PM</option>
                </select>
            </div>
        </div>
            <div class="col mb-3">
                <label for="Price" class="form-label">Price:</label>
                <input type="Number" class="form-control" id="Price" name="Price" step="0.01" required />
            </div>
            <div class="col mb-3">
                <label for="Status" class="form-label">Status:</label>
                <select class="form-select" id="Status" name="Status" required>
                    <option value="Available">Available</option>
                    <option value="Occupied">Occupied</option>
                    <option value="Reserved">Reserved</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="Studio" class="form-label">Studio:</label>
                <select class="form-select" id="Studio" name="StudioID" required>
                    @foreach (var Studio in Model)
                    {
                        <option value="@Studio.StudioID">@Studio.Name</option>
                    }
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Class</button>
    </form>
</div>